@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  font-size: 62.5%;

  --dark-slate-blue: #343e52;
  --vox-over-light-orange: #ffcd6c;
  --white: white;
  --vox-over-peach-orange: #ffa48e;
  --light-slate-grey: #768fad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--dark-slate-blue);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: var(--third-color);
  z-index: 100;
  transition: 0.5s;
}

header.scroll {
  position: fixed;
  top: -7rem;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: var(--third-color);
  z-index: 100;
  transition: 0.5s;
}

.logo {
  position: absolute;
  left: 4%;
  bottom: 2.4rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--fourth-color);
}

nav {
  position: absolute;
  left: 30%;
  bottom: 2.3rem;
  width: 60%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--fourth-color);
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  background: var(--fourth-color);
  transition: width 0.3s;
}

nav ul li a:hover:after {
  width: 100%;
  transition: width 0.3s;
}

/* ham menu */

.hamburger {
  height: 50px;
  width: 40px;
  margin-left: auto;
  display: none;
  cursor: pointer;
  position: relative;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}
.hamburger span {
  height: 5px;
  width: 100%;
  background-color: var(--second-color);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.hamburger span:nth-child(1) {
  top: 25%;
}
.hamburger span:nth-child(3) {
  top: 75%;
}
.hamburger.active span {
  background-color: white;
}
.hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* dropdown menu */

.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 7rem;
  height: 0;
  width: 30rem;
  background-color: transparent;
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  overflow: hidden;
  transition: 0.4s ease-out;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu li a {
  font-size: 2rem;
  color: white;
  transition: font-size 0.3s, transform 0.3s;
}

.dropdown-menu li a:hover {
  font-size: 2rem;
  transform: scale(1.1);
}

.dropdown-menu.open {
  display: block;
  height: 16rem;
}

/*sections*/

.home {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: inherit;
  left: 10%;
  top: 30%;
  width: 80%;
}

.container-home h1 {
  margin-bottom: 2rem;
  color: var(--second-color);
  font-size: 3.5rem;
  text-align: center;
}

.container-home p {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.img-container {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
}

.img-container img {
  border-radius: 50%;
}

/* button */

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-left: 32%;
  height: 5rem;
  width: 14rem;
  background-color: var(--metallic-color);
  color: aliceblue;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.contact-button button {
  background-color: transparent;
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

.contact-button button:hover {
  color: aliceblue;
}

/*about*/

.about {
  width: 40vmin;
  position: flex;
  transform: translate(15%, 30%);
  overflow: hidden;
  border-radius: 0.8rem;
  border: 1rem solid var(--third-color);
}

.wrapper {
  width: 100%;
  display: flex;
  animation: slide 10s infinite;
}

.img-slide {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/*contact*/
.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #fff;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  max-width: 60rem;
  padding: 2.8rem;
  margin: 0 2.8rem;
  border-radius: 1rem;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
  background-color: transparent;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.6);
}

.input-box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.5rem;
}

.input-box input {
  height: 4rem;
  width: 95%;
  padding: 0 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  outline: none;
}

.input-box input:is(:focus, :valid) {
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 20rem;
  width: 95%;
  height: 150px;
  resize: vertical;
}

input[type="submit"] {
  display: flex;
  margin: auto;
  background-color: #4caf50;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}
/*button contact*/

.cta.gray.small.two-buttons.gradient {
  background-image: linear-gradient(
    156deg,
    var(--light-slate-grey),
    var(--vox-over-light-orange) 77%
  );
}

.cta.gray.small.two-buttons {
  height: auto;
  border-style: none;
  border-color: #000;
  background-color: var(--dark-slate-blue);
}

.cta.gray.small {
  background-color: #e4e6f3;
  border-style: solid none none;
  border-top-color: #e4e8ee;
  border-bottom-color: #e4e8ee;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cta.gradient {
  background-color: var(--vox-over-dark-blue);
  background-image: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cta.small {
  border: 1px solid #e4e8ee;
  border-left: 1px #000;
  border-right: 1px #000;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.container-wrapper {
  z-index: 10;
  width: 100%;
  max-width: 1200px;
  opacity: 1;
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  flex-direction: column;
  order: 0;
  justify-content: center;
  align-self: auto;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
  overflow: visible;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.row-cta.center.vox-over {
  align-items: center;
  display: flex;
}

.column-vox-over {
  display: flex;
}

.w-col-6 {
  width: 50%;
}

.w-col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.cta-text.white.center.vox-over {
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
  line-height: 30px;
  display: block;
}

.cta-text.white.center {
  text-align: left;
}

.cta-text {
  padding-top: 10px;
  font-family: Open Sans, sans-serif;
  font-size: 17px;
}

.white {
  color: #fff;
  font-family: Roboto Mono, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  display: none;
}

.center {
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: Roboto Mono, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.w-col-6 {
  width: 50%;
}

.w-col {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.button-wrapper-div {
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
  display: flex;
}

.button.general.left.vox-over {
  width: auto;
  height: 60px;
  background-color: var(--white);
  background-image: linear-gradient(
    87deg,
    var(--vox-over-light-orange),
    var(--vox-over-peach-orange)
  );
  color: var(--vox-over-dark-blue);
  letter-spacing: 1px;
  border-radius: 5px;
  margin-right: 0;
  padding: 20px 36px 10px;
  font-family: Roboto Mono, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.button.general.left {
  margin-left: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  transition: box-shadow 0.4s;
}

.button.general {
  width: 160px;
  height: 42px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  transition-property: box-shadow;
}

.left {
  color: var(--vox-over-dark-blue);
  text-align: left;
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
}

.button {
  float: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #465cff;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 24px;
  font-size: 11px;
  font-weight: 500;
  transition: background-color 0.4s;
  display: block;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.button.general.left.vox-over.empty {
  width: auto;
  border: 1.5px solid var(--white);
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  font-weight: 400;
}

.button.general.left.vox-over {
  width: auto;
  height: 60px;
  background-color: var(--white);
  background-image: linear-gradient(
    87deg,
    var(--vox-over-light-orange),
    var(--vox-over-peach-orange)
  );
  color: var(--vox-over-dark-blue);
  letter-spacing: 1px;
  border-radius: 5px;
  margin-right: 0;
  padding: 20px 36px 10px;
  font-family: Roboto Mono, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.button.general.left {
  margin-left: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  transition: box-shadow 0.4s;
}

.button.general {
  width: 160px;
  height: 42px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #8b9de4;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  transition-property: box-shadow;
}

.left {
  color: var(--vox-over-dark-blue);
  text-align: left;
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
}

.button {
  float: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 24px;
  font-size: 11px;
  font-weight: 500;
  transition: background-color 0.4s;
  display: block;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

a {
  text-decoration: underline;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

/*footer*/

.footer {
  background: var(--dark-slate-blue);
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

/*media*/

@media (min-width: 993px) {
  .container-home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    width: 40%;
    margin-right: 10%;
    margin-top: -12rem;
  }

  .img-container {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .button.general {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .container-home h1 {
    font-size: 2.5rem;
  }

  .text-container {
    margin-top: -10%;
  }

  .container-home p {
    font-size: 1.5rem;
  }

  .img-container img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5rem;
    margin-left: 0rem;
    display: flex;
  }

  .row-cta.center.vox-over {
    flex-direction: column;
  }

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }

  .cta-text.white {
    text-align: center;
    line-height: 30px;
  }

  .cta-text.white.center {
    text-align: center;
    margin-bottom: 10px;
  }

  .w-col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }

  .column-60 {
    justify-content: space-around;
    display: flex;
  }

  .button-wrapper-div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: static;
  }

  .button.general {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 720px) {
  nav .links {
    display: none;
  }

  .container-home h1 {
    font-size: 2.5rem;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
  }

  .container-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hamburger {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }

  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    left: 2.5rem;
    width: unset;
  }
}

@media (max-width: 576px) {
  .container-home h1 {
    font-size: 2.5rem;
  }
  .container-home p {
    font-size: 1.5rem;
  }
}
